{% extends "base.html" %}



{% block title %}Ma page d'accueil{% endblock %}
{% block bodyId %}registerCompPage{% endblock %}
{% block content %}


{% load crispy_forms_tags %}
{% load i18n %}

{% load cloudinary %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8" style="width:80%">
            <h1 class="text-success">{% translate "Submitting a skill" %}</h1>
            <form action="/customer/pubannounce/" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {%if error %}
                <p class=" ="error">{{ error }}</p>
                {% endif %}

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.user_category|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.civility|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.mobile_phone|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.region|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.city|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.available_time_work|as_crispy_field }}
                    </div>
                </div>



                <div class="row">

                    <div class="col-sm-6">
                        {{ form.disponibility_periode_work|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.picture_announce|as_crispy_field }}
                    </div> 
                   
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        {{ form.competence|as_crispy_field }}
                    </div>
                </div>


                <input type="submit" class="btn btn-danger btn-sm" value="{% translate 'publish my announce' %} " />
            </form>

        </div>

    </div>
</div>

 {% endblock %}


