{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


{% for message in messages %}
<p style="text-align: center; color:red">{{message}}</p>

{% endfor %}

<div class="container-fluid"
     style="position: relative; height: 700px; background-size: cover; background-image: url({% static '/img/E-working-1.png' %});">

    <div class="container" style="width: 500px; height: 300px; right: 20px;top:50px; position: absolute; background-color: orange;padding:20px">
        <h1 style="color: white;text-align: center">{% translate "Sign up" %}</h1>

        <form method="post" action="/signupuser/">
            {% csrf_token %}
            <input type="text" class="form-control" name="username" required="true" placeholder="username" style="margin-bottom: 20px">
            <input type="password" class="form-control" name="password" required="true" placeholder="password" style="margin-bottom: 20px">
            <input type="number" class="form-control" name="phoneno" required="true" placeholder="phone" style="margin-bottom: 20px">
            <input type="submit" name="" class="btn btn-success" style="display: block;margin: auto;">
        </form>
    </div>
</div>
{% endblock %}
